body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

span {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

#myInput {
  background-image: url("/css/searchicon.png");
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
#myUL li a:hover:not(.header) {
  background-color: #eee;
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  left: 180 px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.entryForm {
  text-align: center;
  width: 70%;
}
.content {
  padding: 0 18px;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: center;
}
.foodListAll {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  width: 70%;
}
.foodContainer {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.foodItem {
  border: 3px solid #555;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);

  border-radius: 25px;
  width: 160px;
  height: 160px;
  position: relative;
  left: 130px;
  bottom: -15px;
}
